.details-section {
  border: 2px solid gray;
}

img {
  margin-top: 10px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1,
p {
  text-align: center;
}

p {
  font-style: italic;
}

.btn-group > .btn:first-child {
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: #9f8170;
  border: none;
}

.dropdown-menu > li > a:hover {
  background-color: #9f8170;
  color: white;
}
