input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
  color: red;
}
.save-btn,
.cancel-btn,
.add-ingredient {
  background-color: #9f8170;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

.save-btn:hover,
.cancel-btn:hover,
.add-ingredient:hover {
  transform: scale(1.1);
}
